### range functions

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

can also add steps

In [9]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [11]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [14]:
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

### enumerate

In [18]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

zip

In [24]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]
mylist4 = ['d', 'e', 'f', 'g']

In [25]:
for item in zip(mylist1, mylist2, mylist3, mylist4):
    print(item)

(1, 'a', 100, 'd')
(2, 'b', 200, 'e')
(3, 'c', 300, 'f')

In [26]:
list(zip(mylist1, mylist2, mylist3, mylist4))

[(1, 'a', 100, 'd'), (2, 'b', 200, 'e'), (3, 'c', 300, 'f')]

In [28]:
for a, b, c in zip(mylist1, mylist2, mylist3):
    print(b)

a
b
c

In [29]:
'x' in [1, 2, 3]

False

In [30]:
'x' in ['x', 'y', 'z']

True

In [31]:
'a' in 'a world'

True

In [32]:
'a' in {'mykey': 345}

False

In [33]:
'a' in {'a': 345}

True

In [34]:
'a' in {'aaa': 345}

False

In [35]:
d = {'mykey': 345}

In [37]:
345 in d.values()

True

mix - max - random

In [38]:
mylist = [10, 20, 30, 100]

In [39]:
min(mylist)

10

In [40]:
max(mylist)

100

In [44]:
from random import shuffle

In [45]:
mylist = [1, 2, 3, 4, 5, 6]

In [46]:
shuffle(mylist)

In [47]:
mylist

[4, 1, 2, 5, 3, 6]

In [48]:
shuffle(mylist)

In [49]:
mylist

[2, 1, 6, 5, 3, 4]

In [50]:
from random import randint

In [51]:
randint(0, 10)

5

In [54]:
randint(0,1)

1

input (always accepts a string, will need casting if wanting to use numbers)

In [56]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [57]:
result = input("What's your name? ")

What's your name?Perico

In [58]:
result

'Perico'